@tailwind base;
@tailwind components;
@tailwind utilities;


.max-h-60 {
    max-height: 15rem;
  }
  
  .overflow-y-auto {
    overflow-y: auto;
  }
  
  .overflow-y-auto::-webkit-scrollbar {
    width: 4px;
  }
  
  .overflow-y-auto::-webkit-scrollbar-thumb {
    background-color: #e5e7eb;
    border-radius: 2px;
  }